<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">

    <div class="col-md-3">
      <h3>Transform Files</h3>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Transform queue</h3>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in files">
          <td><strong>{{ item.name }}</strong></td>
          <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" ng-click="transform(item)" ng-disabled="item.isTransforming || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Transform
            </button>
            <!--button type="button" class="btn btn-warning btn-xs" ng-click="cancel(item)" ng-disabled="!item.isTransforming">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button-->
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <!--div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div-->
        <button type="button" class="btn btn-success btn-s" ng-click="transformAll()" ng-disabled="!getNotTransformedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Transform all
        </button>
        <!--button type="button" class="btn btn-warning btn-s" ng-click="cancelAll()" ng-disabled="!isTransforming">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="removeAll()" ng-disabled="!fileQueue">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button-->
      </div>

    </div>

  </div>

</div>


<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 </p>
  </div>
</footer>
